<div style="width: 70%">

  <h3>Agregar pasajero al viaje seleccionado</h3>

  <button mat-fab class="boton" type="submit" matTooltip="Volver al listado de viajes"
          (click)=goToBack()>
    <mat-icon>reply</mat-icon>
  </button>

  <button mat-fab class="boton" type="submit" matTooltip="Agregar pasajero"
          (click)="update(selection)">
    <mat-icon>person_add</mat-icon>

  </button>

  <table mat-table [dataSource]="personsAvailable" *ngIf="!loading" class="mat-elevation-z8" style="width: 100%">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef> Seleccione una persona de la lista</th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">

        </mat-checkbox>
      </td>
    </ng-container>


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre y apellido</th>
      <td mat-cell *matCellDef="let row"> {{row.showName()}} </td>
    </ng-container>


    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Edad</th>
      <td mat-cell *matCellDef="let row"> {{row.age}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>

  </table>

</div>

