.boton-crear {
  background-color: #5a1294;
  color: #ffffff;
  *ngIf: "!loading";
}

mat-card {
  width: 50%;
}

.mat-column-id {
  width: 32px;
  border-right: 1px solid currentColor;

  text-align: center;
}

.mat-column-departure {
  width: 32px;
  border-right: 1px solid currentColor;

  text-align: center;
}

.mat-column-destination {
  width: 32px;
  border-right: 1px solid currentColor;

  text-align: center;
}

.mat-column-bus {
  width: 32px;
  border-right: 1px solid currentColor;

  text-align: center;
}

.mat-column-passengers {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.mat-column-startDate {
  width: 32px;
  border-right: 1px solid currentColor;

  text-align: center;
}

.mat-column-endDate {
  width: 32px;
  border-right: 1px solid currentColor;

  text-align: center;
}

.mat-column-capacity {
  width: 32px;
  border-right: 1px solid currentColor;

  text-align: center;
}
.mat-column-option {
  width: 32px;
  text-align: center;
}
